.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    min-height: calc(100vh - var(--footer-height));
}

.footer {
    height: var(--footer-height);
    --footer-height: 50px; /* Adjust this value to match the actual height of your footer */
}